<!DOCTYPE html>
<html>
	<head>
		<title>Curriculum</title>
		<link rel="stylesheet" type="text/css" href="css/12column_grid.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>

	<body class="container-12">
        <header id="banner">
            <!--Banner Area-->
            <img src="images/reslife_banner.png">
        </header>