<div id="navigation">

    <!--Navigation Area-->
    <ul><b>
        <li><a href="index.ejs">Home</a></li>
        <li><a href="ra_responsibilities.ejs">RA Responsibilities</a></li>
        <li><a href="month_by_month.ejs">Month by Month</a></li>
        <li><a href="proposals_evals.ejs">Proposals & Evals</a></li>
        <li><a href="helpful_sites.ejs">Helpful Sites</a></li>
    </b></ul>

</div>