<div id="navigation">

    <!--Navigation Area-->
    <ul><b>
        <li><a href="/">Home</a></li>
        <li><a href="/raResponsibilities">RA Responsibilities</a></li>
        <li><a href="/monthByMonth">Month by Month</a></li>
        <li><a href="/proposalsEvals">Proposals & Evals</a></li>
        <li><a href="/helpfulSites">Helpful Sites</a></li>
    </b></ul>

</div>