<% include partials/header %>
    <header id="banner">
        <!--Banner Area-->
        <img src="images/reslife_banner.png">
    </header>

    <% include partials/navigation %>

    <main class="container-12 grid-12 push-2 shift">

        <div class="container-12 grid-12" id="header_main">
            <h1>Helpful Sites</h1>
        </div>

        <div class="container-12 grid-11 push-2" id="buttons_content_main">

        <!--The main content area of the webage-->

            <ul>
                <li><a href="http://www.residentassistant.com/" target="_blank">Resident Assistant.com</a></li>
                <li><a href="https://www.swank.com/residence-life-cinema" target="_blank">reslife.com - SWANK</a></li>
                <li><a href="http://reslife.net/" target="_blank">reslife.net</a></li>
                <li><a href="https://theraguide.wordpress.com/" target="_blank">The RA Guide</a></li>
                <li><a href="">Witnhrop Res Life Facebook</a></li>
            </ul>
        </div>
        <!--<div class="container-12 grid-2" id="image_main">
            <p>Main Images</p>
        </div>-->
    </main>
    <footer>

    </footer>
<% include partials/footer %>