<!DOCTYPE html>
<html> 
	<head>  
		<title>Curriculum</title>
		<link rel="stylesheet" type="text/css" href="css/12column_grid.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>

	<body class="container-12" id="top">
        
		<header id="banner">   
			<!--Banner Area-->
			<img src="images/reslife_banner.png"> 
		</header>
        
		<div id="navigation">
            
			<!--Navigation Area-->
			<ul><b>
                <li><a href="index.html">Home</a></li>
                <li><a href="ra_responsibilities.html">RA Responsibilities</a></li>
                <li><a href="month_by_month.html">Month by Month</a></li>
                <li><a href="proposals_evals.html">Proposals & Evals</a></li>
                <li><a href="helpful_sites.html">Helpful Sites</a></li>
            </b></ul>
            
		</div>
        
		<section class="container-12 grid-2 push-2 sideNav shift">
            
			<ul>
                <li><a href="months/august/index.html">August</a></li>
                <li><a href="months/september/index.html">September</a></li>
                <li><a href="months/october/index.html">October</a></li>
                <li><a href="months/november/index.html">November</a></li>
                <li><a href="months/december/index.html">December</a></li>
                <li><a href="months/january/index.html">January</a></li>
                <li><a href="months/february/index.html">February</a></li>
                <li><a href="months/march/index.html">March</a></li>
                <li><a href="months/april/index.html">April</a></li>
                <li><a href="months/may/index.html">May</a></li>
            </ul>
            
		</section>
        
		<main class="container-12 grid-12 push-2">
            
			<div class="container-12 grid-9-5" id="header_main">
				<h1>Month by Month</h1>
			</div>
            
			<div class="container-12 grid-9" id="content_main">
                
                <p>**Click on the link below to go down to Campus & Community Resources</p>
                
                <a href="#campusCommunityResources">Campus & Community Resources</a>
                
            <!--The main content area of the webage-->
                
               <!-- <button class="container-12 grid-3 tablink" onclick="openResource('Social', this, '#ffd20f')" id="defaultOpen">Social</button>
                <button class="container-12 grid-3 tablink" onclick="openResource('Educational', this, '#ffd20f')">Educational</button>
                <button class="container-12 grid-3 tablink" onclick="openResource('ASC', this, '#ffd20f')">ASC</button>
                
                <div id="Social" class="tabcontent">
                    <p><b><u>Social</u></b> - programs that encourage your residents to come out of their rooms and connect with others on their floor.</p>
                    <ul>
                        <li><b><u>Game</u></b> - Bring residents together to play board games, video games, etc.</li>
                        <br>
                        <li><b><u>Movie</u></b> - Bring residents together to watch a movie, preferably through Eagle Cinema.</li>
                        <br>
                        <li><b><u>Craft</u></b> - Bring residents together to make a craft, such as painting, knitting, making vision boards, etc.</li>
                        <br>
                        <li><b><u>Cooking</u></b> - Bring residents together through preparing food, such as a spaghetti night or baking brownies.</li>
                        <br>
                        <li><b><u>Ice Breaker</u></b> - Bring residents together for the purpose of allowing them to introduce themselves and learn names and information about other residents.</li>
                        <br>
                        <li><b><u>Team Builder</u></b> - Bring residents together and intentionally work on strengthening their community bond and building skills.</li>
                        <br>
                        <li><b><u>Studying</u></b> - Bring residents together to study, work on projects, or enhance their academics.</li>
                        <br>
                        <li><b><u>Supporting Other Campus Programs</u></b> - Invite residents to other programs on campus and attend together.</li>
                    </ul>
                </div>

                <div id="Educational" class="tabcontent">
                    <p><b><u>Educational</u></b> - programs that support the Residential Curriculum Model theme and use at least 2 approved resources from the monthly resources list.</p>
                        
                    <p>For these programs, you can become the expert and/or you can invite a community expert, either from campus or from the Rock Hill community. Even if you invite an expert, you still must attend your program and you should still incorporate resources into your discussion with residents at the program or via a handout.</p>

                    <p>If you are an ASC RA, your program must connect with your ASC.</p>
                    
                      <ul>
                            <li><b><u>Game</u></b> - Bring residents together to play board games, video games, etc.</li>
                            <br>
                            <li><b><u>Movie</u></b> - Bring residents together to watch a movie, preferably through Eagle Cinema.</li>
                            <br>
                            <li><b><u>Craft</u></b> - Bring residents together to make a craft, such as painting, knitting, making vision boards, etc.</li>
                            <br>
                            <li><b><u>Cooking</u></b> - Bring residents together through preparing food, such as a spaghetti night or baking brownies.</li>
                            <br>
                            <li><b><u>Ice Breaker</u></b> - Bring residents together for the purpose of allowing them to introduce themselves and learn names and information about other residents.</li>
                            <br>
                            <li><b><u>Team Builder</u></b> - Bring residents together and intentionally work on strengthening their community bond and building skills.</li>
                            <br>
                            <li><b><u>Studying</u></b> - Bring residents together to study, work on projects, or enhance their academics.</li>
                            <br>
                            <li><b><u>Supporting Other Campus Programs</u></b> - Invite residents to other programs on campus and attend together.</li>
                        </ul> 
                </div>

                <div id="ASC" class="tabcontent">
                  <p><b><u>Academic Success Communities</u></b></p>
                </div>
                -->

                <table>
                    
                    <!--Table Header-->
                    
                    <tr>
                        <th colspan="2"><b>Types of Programs and Descriptions</b></th>
                    </tr>
                    
                    <!--Table 1-->
                    
                    <tr>
                        <td rowspan="8"><b><u>Social</u></b> - programs that encourage your residents to come out of their rooms and connect with others on their floor.</td>
                        <td><b><u>Game</u></b> - Bring residents together to play board games, video games, etc.</td>
                    </tr>
                    <tr>
                        <td><b><u>Movie</u></b> - Bring residents together to watch a movie, preferably through Eagle Cinema.</td>
                    </tr>
                    <tr>
                        <td><b><u>Craft</u></b> - Bring residents together to make a craft, such as painting, knitting, making vision boards, etc.</td>
                    </tr>
                    <tr>
                        <td><b><u>Cooking</u></b> - Bring residents together through preparing food, such as a spaghetti night or baking brownies.</td>
                    </tr>
                    <tr>
                        <td><b><u>Ice Breaker</u></b> - Bring residents together for the purpose of allowing them to introduce themselves and learn names and information about other residents.</td>
                    </tr>
                    <tr>
                        <td><b><u>Team Builder</u></b> - Bring residents together and intentionally work on strengthening their community bond and building skills.</td>
                    </tr>
                    <tr>
                        <td><b><u>Studying</u></b> - Bring residents together to study, work on projects, or enhance their academics.</td>
                    </tr>
                    <tr>
                        <td><b><u>Supporting Other Campus Programs</u></b> - Invite residents to other programs on campus and attend together.</td>
                    </tr>
                
                    <!--Table 2-->
                    
                    <tr>
                        <td rowspan="7"><p><b><u>Educational</u></b> - programs that support the Residential Curriculum Model theme and use at least 2 approved resources from the monthly resources list.</p>
                        
                        <p>For these programs, you can become the expert and/or you can invite a community expert, either from campus or from the Rock Hill community. Even if you invite an expert, you still must attend your program and you should still incorporate resources into your discussion with residents at the program or via a handout.</p>
                        
                        <p>If you are an ASC RA, your program must connect with your ASC.</p></td>
                        <td><b><u>Open Discussion</u></b> - Bring residents together to learn about and openly discuss the month’s topic. Residents can share experiences, and ask and answer questions (examples – “Cookies and Conversation”, “Let’s Taco Bout It”).</td>
                    </tr>
                    <tr>
                        <td><b><u>Lobby Barrage</u></b> - Catch residents as they walk into the building by sitting in the lobby. Engage them with a conversation, an activity (such as a craft), a handout, or something else to help them learn something new about the month’s theme.</td>
                    </tr>
                    <tr>
                        <td><b><u>Door-to-Door</u></b> - Use a cart or basket to carry supplies and go door-to-door in your building, knocking on residents’ doors and engaging them in an educational conversation or activity related to the month’s theme.</td>
                    </tr>
                    <tr>
                        <td><b><u>Craft</u></b> - Incorporate the monthly theme into an educational craft that residents can work on as they learn.</td>
                    </tr>
                    <tr>
                        <td><b><u>Game</u></b> - Use the resources to develop a game (such as Bingo, Jeopardy, or a scavenger hunt) for residents to play as they learn about the monthly topic.</td>
                    </tr>
                    <tr>
                        <td><b><u>Movie/Show + Debrief</u></b> - Show a movie or an episode of a TV show related to the monthly theme AND have a debriefing conversation with your residents to help them learn something new. <i>Just showing something without having a conversation afterward does not meet the requirements for your monthly educational program.</i></td>
                    </tr>
                    <tr>
                        <td><b><u>Supporting Other Campus Programs + Debrief</u></b> - Invite residents to a campus program that relates to the monthly theme (get approval from your RLC), attend the together, AND have a debriefing conversation at the end of program to help your residents process ideas related to the monthly theme. <i>Just attending the program without having a conversation afterward does not meet the requirements for your monthly educational program.</i></td>
                    </tr>
               
                    <!--Table 3-->
                    
                    <tr>
                        <td><b><u>Academic Success Community (ASC)</u></b> - programs completed by RAs who are part of an ASC. These programs are educational in nature, separate from the residential curriculum, and must occur at least twice per semester.</td>
                        <td></td>
                    </tr>
                </table>
                
                <table id="campusCommunityResources">
                    
                    <!--Table Header-->
                    
                    <tr>
                        <th colspan="2"><b>Campus Resources</b></th>
                    </tr>
                    
                    <!--Campus and Community Resources-->
                    
                    <tr>
                        <td>Campus Police</td>
                        <td><a href="https://www.winthrop.edu/campuspolice/">https://www.winthrop.edu/campuspolice/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Career & Civic Engagement</td>
                        <td><a href="https://www.winthrop.edu/cce/">https://www.winthrop.edu/cce/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Dining Services</td>
                        <td><a href="https://www.winthrop.edu/dining/default.aspx?id=47234">https://www.winthrop.edu/dining/default.aspx?id=47234</a></td>
                    </tr>
                    
                    <tr>
                        <td>Heath & Counseling Services</td>
                        <td><a href="https://www.winthrop.edu/hcs/">https://www.winthrop.edu/hcs/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Residence Life</td>
                        <td><a href="https://www.winthrop.edu/reslife/">https://www.winthrop.edu/reslife/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Dean of Students</td>
                        <td><a href="https://www.winthrop.edu/student-affairs/">https://www.winthrop.edu/student-affairs/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Student Affairs</td>
                        <td><a href="https://www.winthrop.edu/student-affairs/">https://www.winthrop.edu/student-affairs/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Counsel of Student Leaders</td>
                        <td><a href="https://www.winthrop.edu/csl/default.aspx?id=6378">https://www.winthrop.edu/csl/default.aspx?id=6378</a></td>
                    </tr>
                    
                    <tr>
                        <td>DiGiorgio Student Union</td>
                        <td><a href="https://www.winthrop.edu/dsu/">https://www.winthrop.edu/dsu/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Diversity & Engagement</td>
                        <td><a href="https://www.winthrop.edu/diversity/">https://www.winthrop.edu/diversity/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Greek Life</td>
                        <td><a href="https://www.winthrop.edu/greeklife/">https://www.winthrop.edu/greeklife/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Emerging Leaders</td>
                        <td><a href="https://www.winthrop.edu/emergingleaders/">https://www.winthrop.edu/emergingleaders/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Orientation</td>
                        <td><a href="https://www.winthrop.edu/orientation/default.aspx?id=8911">https://www.winthrop.edu/orientation/default.aspx?id=8911</a></td>
                    </tr>
                    
                    <tr>
                        <td>West Center</td>
                        <td><a href="https://www.winthrop.edu/recservices/default.aspx?id=2984">https://www.winthrop.edu/recservices/default.aspx?id=2984</a></td>
                    </tr>
                    
                    <tr>
                        <td>Safe Zones</td>
                        <td><a href="https://www.winthrop.edu/safezones/">https://www.winthrop.edu/safezones/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Student Allocations</td>
                        <td><a href="https://www.winthrop.edu/studentallocations/default.aspx?id=6440">https://www.winthrop.edu/studentallocations/default.aspx?id=6440</a></td>
                    </tr>
                    
                    <tr>
                        <td>Student Publications</td>
                        <td><a href="https://www.winthrop.edu/student-affairs/default.aspx?id=17972">https://www.winthrop.edu/student-affairs/default.aspx?id=17972</a></td>
                    </tr>
                    
                    <tr>
                        <td>Title IX Reporting</td>
                        <td><a href="https://www.winthrop.edu/titleIX/default.aspx?id=46942">https://www.winthrop.edu/titleIX/default.aspx?id=46942</a></td>
                    </tr>
                    
                    <tr>
                        <td>Records & Registration</td>
                        <td><a href="https://www.winthrop.edu/recandreg/">https://www.winthrop.edu/recandreg/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Admissions</td>
                        <td><a href="https://www.winthrop.edu/admissions/">https://www.winthrop.edu/admissions/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Library</td>
                        <td><a href="http://libguides.library.winthrop.edu/dacus">http://libguides.library.winthrop.edu/dacus</a></td>
                    </tr>
                    
                    <tr>
                        <td>Graduate School</td>
                        <td><a href="https://www.winthrop.edu/graduateschool/">https://www.winthrop.edu/graduateschool/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Financial Aid</td>
                        <td><a href="https://www.winthrop.edu/finaid/">https://www.winthrop.edu/finaid/</a></td>
                    </tr>
                    
                    <tr>
                        <td>International Office</td>
                        <td><a href="https://www.winthrop.edu/international/">https://www.winthrop.edu/international/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Study Abroad</td>
                        <td><a href="https://www.winthrop.edu/international/default.aspx?id=33723">https://www.winthrop.edu/international/default.aspx?id=33723</a></td>
                    </tr>
                    
                    <tr>
                        <td>Veterans & Military Students</td>
                        <td><a href="https://www.winthrop.edu/adultstudents/default.aspx?id=27674">https://www.winthrop.edu/adultstudents/default.aspx?id=27674</a></td>
                    </tr>
                    
                    <tr>
                        <td>Athletics</td>
                        <td><a href="http://www.winthropeagles.com/">http://www.winthropeagles.com/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Campus Map</td>
                        <td><a href="https://www.winthrop.edu/map/default.htm">https://www.winthrop.edu/map/default.htm</a></td>
                    </tr>
                    
                    <tr>
                        <td>WU History</td>
                        <td><a href="https://www.winthrop.edu/aboutus/history/">https://www.winthrop.edu/aboutus/history/</a></td>
                    </tr>
                    
                    <tr>
                        <td>WU YouTube Channel</td>
                        <td><a href="https://www.youtube.com/user/WinthropUniversity">https://www.youtube.com/user/WinthropUniversity</a></td>
                    </tr>
                    
                    <tr>
                        <td>Office of Accessibility</td>
                        <td><a href="https://www.winthrop.edu/disabilities/">https://www.winthrop.edu/disabilities/</a></td>
                    </tr>
                    
                    <tr>
                        <td>College of Arts and Sciences</td>
                        <td><a href="https://www.winthrop.edu/cas/default.aspx">https://www.winthrop.edu/cas/default.aspx</a></td>
                    </tr>
                    
                    <tr>
                        <td>College of Business Admin</td>
                        <td><a href="https://www.winthrop.edu/cba/default.aspx">https://www.winthrop.edu/cba/default.aspx</a></td>
                    </tr>
                    
                    <tr>
                        <td>College of Education</td>
                        <td><a href="https://www.winthrop.edu/coe/default.aspx">https://www.winthrop.edu/coe/default.aspxhttps://www.winthrop.edu/uc/default.aspx</a></td>
                    </tr>
                    
                    <tr>
                        <td>University College</td>
                        <td><a href="https://www.winthrop.edu/uc/default.aspx">https://www.winthrop.edu/uc/default.aspx</a></td>
                    </tr>
                    
                    <tr>
                        <td>Visual & Preforming Arts</td>
                        <td><a href="https://www.winthrop.edu/cvpa/default.aspx">https://www.winthrop.edu/cvpa/default.aspx</a></td>
                    </tr>
                    
                    <tr>
                        <td>Academic Success Center</td>
                        <td><a href="https://www.winthrop.edu/asc/">https://www.winthrop.edu/asc/</a></td>
                    </tr>
                    
                    <tr>
                        <td>House Calls Tutoring</td>
                        <td><a href="https://www.winthrop.edu/housecalls/">https://www.winthrop.edu/housecalls/</a></td>
                    </tr>
                    
                    <tr>
                        <td>First Year Experience</td>
                        <td><a href="https://www.winthrop.edu/peermentors/default.aspx?id=39017">https://www.winthrop.edu/peermentors/default.aspx?id=39017</a></td>
                    </tr>
                    
                    <tr>
                        <td>Eagle Impact Volunteerism</td>
                        <td><a href="https://winthrop.galaxydigital.com/">https://winthrop.galaxydigital.com/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Undergraduate Research</td>
                        <td><a href="https://www.winthrop.edu/undergradresearch/">https://www.winthrop.edu/undergradresearch/</a></td>
                    </tr>
                    
                    <tr>
                        <td>ONCA</td>
                        <td><a href="https://www.winthrop.edu/onca/">https://www.winthrop.edu/onca/</a></td>
                    </tr>
                    
                    <tr>
                        <td>Global Learning Initiative</td>
                        <td><a href="https://www.winthrop.edu/gli/">https://www.winthrop.edu/gli/</a></td>
                    </tr>
                </table>
                
                <br>
                
                <a href="#top">Return to top</a>
                
			</div>
			<!--<div class="container-12 grid-2" id="image_main">
				<p>Main Images</p>
			</div>-->
		</main>
		<footer>

		</footer>
        
        <!--<script>
            function openResource(resourceName, elmnt, bgcolor) {
                // Hide all elements with class="tabcontent" by default
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Remove the background color of all tablinks/buttons
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }

                // Show the specific tab content
                document.getElementById(resourceName).style.display = "block";

                // Add the specific color to the button used to open the tab content
                elmnt.style.backgroundColor = bgcolor;
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>-->
        
	</body>
</html>