<% include partials/header %>
    
    <% include partials/navigation %>

    <section class="container-12 grid-2 push-2 sideNav shift">

        <ul>
            <li><a href="months/august">August</a></li>
            <li><a href="months/september">September</a></li>
            <li><a href="months/october">October</a></li>
            <li><a href="months/november">November</a></li>
            <li><a href="months/december">December</a></li>
            <li><a href="months/january">January</a></li>
            <li><a href="months/february">February</a></li>
            <li><a href="months/march">March</a></li>
            <li><a href="months/april">April</a></li>
            <li><a href="months/may">May</a></li>
        </ul>

    </section>

    <main class="container-12 grid-12 push-2">

        <div class="container-12 grid-9-5" id="header_main">
            <h1>Month by Month</h1>
        </div>

        <div class="container-12 grid-9" id="content_main">

        <!--The main content area of the webage-->

            <button class="container-12 grid-3 tablink" onclick="openResource('Social', this, '#ffd20f')" id="defaultOpen">Social</button>
            <button class="container-12 grid-3 tablink" onclick="openResource('Educational', this, '#ffd20f')">Educational</button>
            <button class="container-12 grid-3 tablink" onclick="openResource('ASC', this, '#ffd20f')">ASC</button>

            <div id="Social" class="tabcontent">
                <p><b><u>Social</u></b> - programs that encourage your residents to come out of their rooms and connect with others on their floor.</p>
                <ul>
                    <li><b><u>Game</u></b> - Bring residents together to play board games, video games, etc.</li>
                    <br>
                    <li><b><u>Movie</u></b> - Bring residents together to watch a movie, preferably through Eagle Cinema.</li>
                    <br>
                    <li><b><u>Craft</u></b> - Bring residents together to make a craft, such as painting, knitting, making vision boards, etc.</li>
                    <br>
                    <li><b><u>Cooking</u></b> - Bring residents together through preparing food, such as a spaghetti night or baking brownies.</li>
                    <br>
                    <li><b><u>Ice Breaker</u></b> - Bring residents together for the purpose of allowing them to introduce themselves and learn names and information about other residents.</li>
                    <br>
                    <li><b><u>Team Builder</u></b> - Bring residents together and intentionally work on strengthening their community bond and building skills.</li>
                    <br>
                    <li><b><u>Studying</u></b> - Bring residents together to study, work on projects, or enhance their academics.</li>
                    <br>
                    <li><b><u>Supporting Other Campus Programs</u></b> - Invite residents to other programs on campus and attend together.</li>
                </ul>
            </div>

            <div id="Educational" class="tabcontent">
                <p><b><u>Educational</u></b> - programs that support the Residential Curriculum Model theme and use at least 2 approved resources from the monthly resources list.</p>

                <p>For these programs, you can become the expert and/or you can invite a community expert, either from campus or from the Rock Hill community. Even if you invite an expert, you still must attend your program and you should still incorporate resources into your discussion with residents at the program or via a handout.</p>

                <p>If you are an ASC RA, your program must connect with your ASC.</p>

                  <ul>
                        <li><b><u>Game</u></b> - Bring residents together to play board games, video games, etc.</li>
                        <br>
                        <li><b><u>Movie</u></b> - Bring residents together to watch a movie, preferably through Eagle Cinema.</li>
                        <br>
                        <li><b><u>Craft</u></b> - Bring residents together to make a craft, such as painting, knitting, making vision boards, etc.</li>
                        <br>
                        <li><b><u>Cooking</u></b> - Bring residents together through preparing food, such as a spaghetti night or baking brownies.</li>
                        <br>
                        <li><b><u>Ice Breaker</u></b> - Bring residents together for the purpose of allowing them to introduce themselves and learn names and information about other residents.</li>
                        <br>
                        <li><b><u>Team Builder</u></b> - Bring residents together and intentionally work on strengthening their community bond and building skills.</li>
                        <br>
                        <li><b><u>Studying</u></b> - Bring residents together to study, work on projects, or enhance their academics.</li>
                        <br>
                        <li><b><u>Supporting Other Campus Programs</u></b> - Invite residents to other programs on campus and attend together.</li>
                    </ul> 
            </div>

            <div id="ASC" class="tabcontent">
              <p><b><u>Academic Success Communities</u></b></p>
            </div>

            <table id="campusCommunityResources">

                <!--Table Header-->

                <tr>
                    <th colspan="2"><b>Campus Resources</b></th>
                </tr>

                <!--Campus and Community Resources-->

                <tr>
                    <td>Campus Police</td>
                    <td><a href="https://www.winthrop.edu/campuspolice/">https://www.winthrop.edu/campuspolice/</a></td>
                </tr>

                <tr>
                    <td>Career & Civic Engagement</td>
                    <td><a href="https://www.winthrop.edu/cce/">https://www.winthrop.edu/cce/</a></td>
                </tr>

                <tr>
                    <td>Dining Services</td>
                    <td><a href="https://www.winthrop.edu/dining/default.aspx?id=47234">https://www.winthrop.edu/dining/default.aspx?id=47234</a></td>
                </tr>

                <tr>
                    <td>Heath & Counseling Services</td>
                    <td><a href="https://www.winthrop.edu/hcs/">https://www.winthrop.edu/hcs/</a></td>
                </tr>

                <tr>
                    <td>Residence Life</td>
                    <td><a href="https://www.winthrop.edu/reslife/">https://www.winthrop.edu/reslife/</a></td>
                </tr>

                <tr>
                    <td>Dean of Students</td>
                    <td><a href="https://www.winthrop.edu/student-affairs/">https://www.winthrop.edu/student-affairs/</a></td>
                </tr>

                <tr>
                    <td>Student Affairs</td>
                    <td><a href="https://www.winthrop.edu/student-affairs/">https://www.winthrop.edu/student-affairs/</a></td>
                </tr>

                <tr>
                    <td>Counsel of Student Leaders</td>
                    <td><a href="https://www.winthrop.edu/csl/default.aspx?id=6378">https://www.winthrop.edu/csl/default.aspx?id=6378</a></td>
                </tr>

                <tr>
                    <td>DiGiorgio Student Union</td>
                    <td><a href="https://www.winthrop.edu/dsu/">https://www.winthrop.edu/dsu/</a></td>
                </tr>

                <tr>
                    <td>Diversity & Engagement</td>
                    <td><a href="https://www.winthrop.edu/diversity/">https://www.winthrop.edu/diversity/</a></td>
                </tr>

                <tr>
                    <td>Greek Life</td>
                    <td><a href="https://www.winthrop.edu/greeklife/">https://www.winthrop.edu/greeklife/</a></td>
                </tr>

                <tr>
                    <td>Emerging Leaders</td>
                    <td><a href="https://www.winthrop.edu/emergingleaders/">https://www.winthrop.edu/emergingleaders/</a></td>
                </tr>

                <tr>
                    <td>Orientation</td>
                    <td><a href="https://www.winthrop.edu/orientation/default.aspx?id=8911">https://www.winthrop.edu/orientation/default.aspx?id=8911</a></td>
                </tr>

                <tr>
                    <td>West Center</td>
                    <td><a href="https://www.winthrop.edu/recservices/default.aspx?id=2984">https://www.winthrop.edu/recservices/default.aspx?id=2984</a></td>
                </tr>

                <tr>
                    <td>Safe Zones</td>
                    <td><a href="https://www.winthrop.edu/safezones/">https://www.winthrop.edu/safezones/</a></td>
                </tr>

                <tr>
                    <td>Student Allocations</td>
                    <td><a href="https://www.winthrop.edu/studentallocations/default.aspx?id=6440">https://www.winthrop.edu/studentallocations/default.aspx?id=6440</a></td>
                </tr>

                <tr>
                    <td>Student Publications</td>
                    <td><a href="https://www.winthrop.edu/student-affairs/default.aspx?id=17972">https://www.winthrop.edu/student-affairs/default.aspx?id=17972</a></td>
                </tr>

                <tr>
                    <td>Title IX Reporting</td>
                    <td><a href="https://www.winthrop.edu/titleIX/default.aspx?id=46942">https://www.winthrop.edu/titleIX/default.aspx?id=46942</a></td>
                </tr>

                <tr>
                    <td>Records & Registration</td>
                    <td><a href="https://www.winthrop.edu/recandreg/">https://www.winthrop.edu/recandreg/</a></td>
                </tr>

                <tr>
                    <td>Admissions</td>
                    <td><a href="https://www.winthrop.edu/admissions/">https://www.winthrop.edu/admissions/</a></td>
                </tr>

                <tr>
                    <td>Library</td>
                    <td><a href="http://libguides.library.winthrop.edu/dacus">http://libguides.library.winthrop.edu/dacus</a></td>
                </tr>

                <tr>
                    <td>Graduate School</td>
                    <td><a href="https://www.winthrop.edu/graduateschool/">https://www.winthrop.edu/graduateschool/</a></td>
                </tr>

                <tr>
                    <td>Financial Aid</td>
                    <td><a href="https://www.winthrop.edu/finaid/">https://www.winthrop.edu/finaid/</a></td>
                </tr>

                <tr>
                    <td>International Office</td>
                    <td><a href="https://www.winthrop.edu/international/">https://www.winthrop.edu/international/</a></td>
                </tr>

                <tr>
                    <td>Study Abroad</td>
                    <td><a href="https://www.winthrop.edu/international/default.aspx?id=33723">https://www.winthrop.edu/international/default.aspx?id=33723</a></td>
                </tr>

                <tr>
                    <td>Veterans & Military Students</td>
                    <td><a href="https://www.winthrop.edu/adultstudents/default.aspx?id=27674">https://www.winthrop.edu/adultstudents/default.aspx?id=27674</a></td>
                </tr>

                <tr>
                    <td>Athletics</td>
                    <td><a href="http://www.winthropeagles.com/">http://www.winthropeagles.com/</a></td>
                </tr>

                <tr>
                    <td>Campus Map</td>
                    <td><a href="https://www.winthrop.edu/map/default.htm">https://www.winthrop.edu/map/default.htm</a></td>
                </tr>

                <tr>
                    <td>WU History</td>
                    <td><a href="https://www.winthrop.edu/aboutus/history/">https://www.winthrop.edu/aboutus/history/</a></td>
                </tr>

                <tr>
                    <td>WU YouTube Channel</td>
                    <td><a href="https://www.youtube.com/user/WinthropUniversity">https://www.youtube.com/user/WinthropUniversity</a></td>
                </tr>

                <tr>
                    <td>Office of Accessibility</td>
                    <td><a href="https://www.winthrop.edu/disabilities/">https://www.winthrop.edu/disabilities/</a></td>
                </tr>

                <tr>
                    <td>College of Arts and Sciences</td>
                    <td><a href="https://www.winthrop.edu/cas/default.aspx">https://www.winthrop.edu/cas/default.aspx</a></td>
                </tr>

                <tr>
                    <td>College of Business Admin</td>
                    <td><a href="https://www.winthrop.edu/cba/default.aspx">https://www.winthrop.edu/cba/default.aspx</a></td>
                </tr>

                <tr>
                    <td>College of Education</td>
                    <td><a href="https://www.winthrop.edu/coe/default.aspx">https://www.winthrop.edu/coe/default.aspxhttps://www.winthrop.edu/uc/default.aspx</a></td>
                </tr>

                <tr>
                    <td>University College</td>
                    <td><a href="https://www.winthrop.edu/uc/default.aspx">https://www.winthrop.edu/uc/default.aspx</a></td>
                </tr>

                <tr>
                    <td>Visual & Preforming Arts</td>
                    <td><a href="https://www.winthrop.edu/cvpa/default.aspx">https://www.winthrop.edu/cvpa/default.aspx</a></td>
                </tr>

                <tr>
                    <td>Academic Success Center</td>
                    <td><a href="https://www.winthrop.edu/asc/">https://www.winthrop.edu/asc/</a></td>
                </tr>

                <tr>
                    <td>House Calls Tutoring</td>
                    <td><a href="https://www.winthrop.edu/housecalls/">https://www.winthrop.edu/housecalls/</a></td>
                </tr>

                <tr>
                    <td>First Year Experience</td>
                    <td><a href="https://www.winthrop.edu/peermentors/default.aspx?id=39017">https://www.winthrop.edu/peermentors/default.aspx?id=39017</a></td>
                </tr>

                <tr>
                    <td>Eagle Impact Volunteerism</td>
                    <td><a href="https://winthrop.galaxydigital.com/">https://winthrop.galaxydigital.com/</a></td>
                </tr>

                <tr>
                    <td>Undergraduate Research</td>
                    <td><a href="https://www.winthrop.edu/undergradresearch/">https://www.winthrop.edu/undergradresearch/</a></td>
                </tr>

                <tr>
                    <td>ONCA</td>
                    <td><a href="https://www.winthrop.edu/onca/">https://www.winthrop.edu/onca/</a></td>
                </tr>

                <tr>
                    <td>Global Learning Initiative</td>
                    <td><a href="https://www.winthrop.edu/gli/">https://www.winthrop.edu/gli/</a></td>
                </tr>
            </table>

            <br>

            <a href="#top">Return to top</a>

        </div>
        <!--<div class="container-12 grid-2" id="image_main">
            <p>Main Images</p>
        </div>-->
    </main>
    <footer>

    </footer>

    <script type="text/javascript" src="js/script.js"></script>
        
<% include partials/footer %>