body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

main {
	background-color: white;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table {
    margin-top: 20px;
}

td {
    vertical-align: top;
    text-align: left;
}

th[colspan] {
    text-align: center;
}

td[rowspan] {
    vertical-align: top;
    text-align: left;
}

.monthResources ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-left: -15px;
}

.monthResources ul li {
    float: left;
    padding-top: 15px;
    margin-right: 31.2px;
    width: 130px;
    text-align: center;
}

.monthResources ul li a {
    display: block;
    background-color: #ffd20f;
    color: #620000;
    text-decoration: none;
    padding: 10px 10px;
    padding-top: 10px;
    height: 50px;
}

.sideNav {
	background-color: #620000;
    clear: left;
}

.sideNav ul {
    list-style-type: none;
}

.sideNav ul li {
    margin-bottom: 10px;
}

.sideNav ul li a {
    text-decoration: none;
    color: white;
}

.sideNav ul li a:hover {
    text-decoration: underline;
}

.shift {
    margin-left: 0px;
}

.accordion {
    background-color: #fff;
    color: #620000;
    cursor: pointer;
    border: none;
    padding: 18px;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 16px;
    border-bottom-style: solid;
    border-color: #620000;
}

.active, .accordion:hover {
    border-color: #ffd20f;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #620000;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}

.convoStarter {
    padding-left: 5px;
    padding-top: 10px;
}

/* Style the tab buttons */
.tablink {
    background-color: #fff;
    color: #620000;
    border: none;
    outline: none;
    cursor: pointer;
    margin: -2px;
    padding: 25px;
    margin-top: 15px;
    border: solid;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #ffd20f;
    color: #620000;
}

/* Set default styles for tab content */
.tabcontent {
    padding: 50px;
    margin-top: 35px;
}

.resourcesHeader {
    text-align: center;
}

.table_resources {
    text-align: left;
}

#banner {
	background-color: #620000;
    color: white;
    padding: 25px 0px;
    text-align: center;
}

#navigation {
	background-color: #ffd20f;
}

#navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 175px;
    overflow: hidden;
    margin-left: 170px;
}

#navigation ul li {
    float: left;
    padding: 15px 20px;
}

#navigation ul li a {
    color: #620000;
    text-align: center;
    text-decoration: none; 
}

#navigation ul li a:hover {
    text-decoration: underline;
}

#programSection ul {
    color: #ffd20f;
    margin-left: -15px;
}

#blankSection {
    height: 80px;
}

#header_main {
	background-color: #620000;
    color: white;
	margin-left: -15px;
    text-align: center;
}

#content_main {
    padding-left: 15px;
}

#programsPE {
    margin-left: 186px;
    width: 600px;
}

#programsPE td {
    text-align: center;
}

#programsPE a {
    text-decoration: none;
    color: #620000;
}

#programsPE a:hover {
    text-decoration: underline;
}

#buttons_content_main ul {
    list-style-type: none;
    text-align: center;
}

#buttons_content_main ul li a {
    display: block;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    background-color: #122d5f;
    width: 270px;
    margin-left: 153px;
    margin-bottom: 15px;
}

#image_main  {
	background: violet;
	margin: 0px;
}

#closingResources ul {
    margin-left: 150px;
}

#multiResource ul li {
    margin-right: 9px;
    width: 120px;
}

#resource_table {
    width: auto;
}

#campusCommunityResources td{
    width: 450px;
}
