<% include ../partials/monthsHeader %>
        
    <% include ../partials/navigation %>
        
		<main class="container-12 grid-12 push-2 shift">
            
			<div class="container-12 grid-12" id="header_main">
				<h1>September | Safety First</h1>
			</div>
            
			<div class="container-12 grid-11" id="content_main">
                
            <!--The main content area of the webage-->
                
                <p>September is a time when residents need to learn (or be reminded of) how to behave safely in social settings. Social safety encompasses bystander intervention, sexual assault awareness, alcohol and drug use, and safe sex.</p>
                
                <p>The learning outcomes met by this month’s bulletin board, program, and resident interactions are:</p>
                
                <ul>
                
                    <li><b>Academic Excellence</b> - Residential students will actively engage in a learning experience outside of the classroom at least once per month.</li>
                    
                    <br>
                    
                    <li><b>Self-Development</b> - Residential students will be able to identify their values and understand how they impact their choices and actions.</li>
                    
                </ul>
                
                <p>Program – You should complete an <u>educational</u> program where you become an expert on a social safety topic and/or you host a community expert. If you are an ASC RA, you must connect your program to your ASC.</p>
                
                <p>Bulletin Board - Your bulletin board should incorporate at least 2 approved resources (not in QR code form). If you are an ASC RA, you must connect your bulletin board to your ASC.</p>
            
			</div>
            
            <button class="container-12 grid-11 accordion">Program Example</button>
                
            <div class="container-12 grid-11 panel">
                <ul>
                    <li>Invite Victim’s Advocate Joan Harris to make a craft with residents (like “Consent is Key” bracelets) while discussing the importance of consent and different resources available to residents.</li>
                    <li>Invite Keystone to discuss healthy behaviors regarding alcohol.</li>
                    <li>Invite Affinity Health to discuss sexual health and testing.</li>
                    <li>Go door to door with trivia about social safety with candy or sexual health supplies as prizes.</li>
                    <li>Invite the Winthrop Dean of Students Office to discuss the importance of bystander intervention and strategies for being a good bystander.</li>
                    <li>Create a jeopardy or bingo game for residents to play featuring positive social safety behaviors or campus resources that promote social safety.</li>
                </ul>
            </div>

            <button class="container-12 grid-11 accordion">Conversation Starters</button>

            <div class="container-12 grid-11 panel convoStarter">
                <img src="images/september_ConvoStarter.PNG">
            </div>

            <button class="container-12 grid-11 accordion">Resources</button>

            <div class="container-12 grid-11 panel">
                <table id="resource_table">
                    <tr>
                        <th class="table_resources">Prevention Lane</th>
                        <td><a href="https://preventionlane.org/young-adults-alcohol-safe-drinking-tips">https://preventionlane.org/young-adults-alcohol-safe-drinking-tips</a></td>
                    </tr>
                    <tr>
                        <th class="table_resources">Training Active Bystanders</th>
                        <td><a href="https://www.trainingactivebystanders.org/">https://www.trainingactivebystanders.org/</a></td>
                    </tr>
                    <tr>
                        <th class="table_resources">Keystone Substance Abuse Services</th>
                        <td><a href="https://www.keystoneyork.org/">https://www.keystoneyork.org/</a></td>
                    </tr>
                    <tr>
                        <th class="table_resources">CDC Dating Violence</th>
                        <td><a href="https://www.cdc.gov/violenceprevention/pdf/tdv-factsheet.pdf">https://www.cdc.gov/violenceprevention/pdf/tdv-factsheet.pdf</a></td>
                    </tr>
                    <tr>
                        <th class="table_resources">Safe Passage</th>
                        <td><a href="http://safepassagesc.org/sexual-trauma/">http://safepassagesc.org/sexual-trauma/</a></td>
                    </tr>
                    <tr>
                        <th class="table_resources">What They Don’t Teach</th>
                        <td><a href="http://whattheydontteach.info/quizzes/">http://whattheydontteach.info/quizzes/</a></td>
                    </tr>
                    <tr>
                        <th class="table_resources">In the Know Zone</th>
                        <td><a href="http://www.intheknowzone.com/test-your-knowledge.html">http://www.intheknowzone.com/test-your-knowledge.html</a></td>
                    </tr>
                    <tr>
                        <th class="table_resources">Are You an Active Bystander?</th>
                        <td><a href="https://www.proprofs.com/quiz-school/story.php?title=njawmza1">https://www.proprofs.com/quiz-school/story.php?title=njawmza1</a></td>
                    </tr>
                </table>
            </div>
            
			<!--<div class="container-12 grid-2" id="image_main">
				<p>Main Images</p>
			</div>-->
            
		</main>

<% include ../partials/monthsFooter %>